<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916579666383-8m9oe6pls6rhpa571tmgph23hi95s216.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916579666383-8m9oe6pls6rhpa571tmgph23hi95s216</string>
	<key>API_KEY</key>
	<string>AIzaSyC1DAQvvwlGs-nB-VTqUx_V5GP5MKFrO5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>916579666383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1</string>
	<key>PROJECT_ID</key>
	<string>login-911</string>
	<key>STORAGE_BUCKET</key>
	<string>login-911.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916579666383:ios:b0934b0dfe278a629faaba</string>
</dict>
</plist>